.container {
    width: 50%;
    max-width: 1000px;
    padding: 32px 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.by-text {
    display: flex;
    flex-direction: column;
    
}

.by-text h3 {
    font-size: 32px;
    margin-right: 300px;
    margin-top: 20px;
    font-weight: 700;

}

.by-text p {
    font-size: 14px;
    font-weight: normal;
    color: var(--dark-gray-2);
}


.avaliacao {
    display: flex;
    align-items: center; 
    gap: 10px; 
}



.avaliacao .reviewCount {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    color: gray;
}


.preco {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.preco p:first-child {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark-gray);
}

.preco p:nth-child(2) {
    font-weight: normal;
    text-decoration: line-through;
    color: var(--lightGray);
}

.preco span{
    font-size: 16px;
    font-weight: normal;
    }

.descr {
    display: flex;
    flex-direction: column;
}

.descr span {
    color: var(--darkGray);
}

.descr p {
    margin-top: 10px;
    margin-right: 350px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.tamanho{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 10px;
}

.tamanhos {
    display: flex;
    gap: 10px;
}

.tamanhos button{
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}

.tamanhos button.active {
    border-color: var(--primary);
    background-color: var(--primary);

}

.cor {
    margin-top: 10px;
    margin-bottom: 10px;
}



